:root {
    --background-color: black;
} 

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: var(--background-color);
    isolation: isolate;
}
canvas {
    position: absolute;
}
